[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
pandas-datareader = "*"
requests-cache = "*"
fastapi = {extras = ["all"], version = "*"}
gunicorn = "*"  
rich = "*"
pandasgui = "*"
pypiwin32 = "*"

[dev-packages]
autopep8 = "*"

ta-lib = "*"

[requires]
python_version = "3.9"

[scripts]
start = "uvicorn server.initialize_app:app --reload"
dev = "python './main.py' "
